#Format: base mask, command (ascii), sleeptime, arguments
10 dac 0.1 1 700
10 fpgaload 0.1
10 adcconfig 0.1
10 fpgaload 0.1
10 flush_events 0.5
10 quickscan 30 84
10 monstatus 0.5
10 fpgatrig 0.1 0
10 fpgatrig 0.1 1
